input[type=color].inputReset, 
input[type=date].inputReset, 
input[type=datetime-local].inputReset, 
input[type=datetime].inputReset, 
input[type=email].inputReset, 
input[type=month].inputReset, 
input[type=number].inputReset, 
input[type=password].inputReset, 
input[type=search].inputReset, 
input[type=tel].inputReset, 
input[type=text].inputReset, 
input[type=time].inputReset, 
input[type=url].inputReset, 
input[type=week].inputReset, 
select.inputReset, 
textarea.inputReset {
    box-shadow: unset;
    border-radius: 4px;
    border: 0;
    background-color: none;
    color: currentColor;
}

input[type=date].base, input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week] {
    padding: 4px 0 5px;
    line-height: normal;
    min-height: unset;
    height: 1.4375em;
}
/*
.MuiInputBase-input {
    font: inherit;
    letter-spacing: inherit;
    color: currentColor;
    padding: 4px 0 5px;
    border: 0;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0;
    width: 100%;
    -webkit-animation-name: mui-auto-fill-cancel;
    animation-name: mui-auto-fill-cancel;
    -webkit-animation-duration: 10ms;
    animation-duration: 10ms;
    padding: 16.5px 14px;
}*/